.login-page{
    background-image:url('../images/trvel.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.login_logo{ font-size: 35px;
    margin-top: 3%;
    font-weight: 600; 
    color: midnightblue;
}
.login-box{
    background-color: #fff;
    color: #666;
    padding: 4%;
    padding-bottom:0px!important;
}
@media (max-width: 725px)  {
    .login_logo{
        font-size: 20px;
    
    }
}