.list{
    font-size:14px;
    color: #737373!important
}
.list:hover{
    color: black!important;
}
.trip_btn{
    padding:5px
}
.table_element{
    font-size: 16px;
    text-align: center;
}